h1 {
   text-align: center;
    color: #E4001B;
    font-size: 53;
    font-family: cursive;
    
}
h3 {
   text-align: center;
    color: #606060;
    font-family: cursive;
    }

h2 {
	color: #606060;
	font-family: sans-serif;
	font-weight: 100;
}

body {
    margin: 0;
    background-color: #A5D1F3;
    padding: 5% 5% 5% 5%;
    }


.padding{
    border: 5px solid #606060;
    background-color: #D0EAFF;
    padding: 0% 2%;
    }

.photo{
	text-align: center;
}

/*Page buttons formatting*/
.button {
    background: #6194BC; /* can put images as backgrounds */
    border: none;
    color: #ECECEC;
   
    padding: 1% 1%;
    float: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    width: 200px;
    margin: 1% 1%;
    height: 200px;
    cursor: pointer;

}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


#6194BC
#A5D1F3
#D0EAFF
#E4001B
#ECECEC
#606060