h1 {
   text-align: center;
    color: #E4001B;
    font-size: 53;
    font-family: cursive;
}
h2 {
	color: #606060;
	font-family: sans-serif;
	font-weight: 100;
}

body {
    margin: 0;
    background-color: #A5D1F3;
    padding: 5% 5% 5% 5%;
    }


.padding{
    border: 5px solid #606060;
    background-color: #D0EAFF;
    padding: 0% 2%;
    }

.photo{
	text-align: center;
}


/*#6194BC
#A5D1F3
#D0EAFF
#E4001B
#ECECEC
#606060*/