body {
        margin: 0;
        background-color: #D6F1D3; /*maybe #F0FFF0 */
	padding: 2%;

    }

h1 {
    font-family: "Raleway", serif;
    font-style: normal;
    color: #246636;
    margin-left: 5.5%;
    text-align: left;
    font-weight: 100;
    font-size: 70;
    font-variant: normal;  
}

.border {
	border: solid;
	border-width: 5px;
	background-color: #308446;
	border-color: #308446;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #308446;
    color: white;
	font-family: cursive;
	font-size: 22;
    cursor: pointer;
    padding: 20;
    width: 90%;
    text-align: left;
    border-style:solid ;
	border-width: 5px;
	border-color: white;
    transition: 0.4s;
}

.prudential{
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/3/37/Prudential_Center_-_Boston%2C_MA_-_DSC03973.JPG);
	background-position: 50%, 100%;
	background-repeat: space;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: 246636;
	font-size: 27;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
	border-style:solid ;
	border-width: 5px;
	border-color: #308446;
	text-align: left;
}