
body {
    margin: 0;
    background-color: aliceblue;
}
/**
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
} **/

.background {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
    opacity: .8;
    background-size: cover;
    margin-bottom: 10%;
}

.logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: .9;
    color: white;
    text-align: center;
    padding-right: 1.5%;
    padding-left: 1.5%;
    font-weight: 100;
    font-family: "Raleway", serif;
    font-style: normal;
    font-size: 80px;  
}

.tonav {
    background-color: white;
    border-width: 100%;
    
}
.navigation {
    background-color: white;
    margin: 5%;
}

.navigation a {
    display: inline-block;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 14px;
    
}

h1, h2 {
    font-family: "Raleway", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    color: gray;
     
}
h1 {
    margin-top: 5%;
}
h2 {
    color: gray;
    margin-bottom: 10%;
    margin-top: 10%;
}

p {
  font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    /**margin-left: 5%;**/
    margin: 10%;
    color: black;
}


/** food category image buttons **/ 

.boxed, .boxed2, .boxed3, .boxed4 {
    text-align: center;
    margin-top: 30%;
    margin-left: 15%;
    height: 20;
    width: 100px;
    background-color: aliceblue;
    opacity: .9;
}


.buttonbb, .buttonhy, .buttonne, .buttonss { 
    border: none;
    color: black;
    background-color: lightsteelblue;
   
    padding: 2% 2% 10% 2%;
    float: left;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-weight: 100;
    font-size: 17px;
    font-family: "Raleway", serif;
    font-style: ;
    width: 15%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    height: 5%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.backgroundtwo {
    background-color: white;
    height: 70%;
    width: 100%;
    margin-bottom: 20%;
    opacity: .89;
}
